/* Filter.css */
.custom-dropdown {
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(49, 46, 69, 0.8); 
    color: #ffffff; 
    overflow: auto; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
}

.custom-dropdown::-webkit-scrollbar {
    width: 8px;
}

.custom-dropdown::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 4px; 
}

.custom-dropdown::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
}
